body {
    background-image: url("../Photos-Main/pexels-pixabay-207580.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
}
p {
    font-size: large;
    text-align: center;
    color:black;
}
img {
    border-radius: 50%;
}
.navbar{
    background-color: #f1f1f1;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 3px grey;
    box-shadow: 2px 2px 35px 2px #8a8a1d;

}
ul {
    background-color: #cccccc;
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
li{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
article {
    margin: auto;
    padding: 20px;
    width: 70%;
    background-color: #efefef;
    border-style: solid;
    border-radius: 12px;
    border-color:rgb(164, 164, 164);
}
